@model FilamentBossWebApp.Models.Member
@{
    ViewBag.Title = "Kullanıcı Kayıt";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@section styles
{
    <link href="~/Assets/css/MemberLogin.css" rel="stylesheet" />
}
<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row" style="text-align:center">
            <h2>Üyelik Oluştur</h2>
        </div>
        <div class="row" style="text-align:center">
            Lütfen bilgileri eksiksiz doldurun
        </div>
        if (ViewBag.basarisiz != null)
        {
            <div class="validation-summary-errors">
                @ViewBag.basarisiz
            </div>
        }
        if (ViewBag.basarili != null)
        {
            <div class="validation-summary-success">
                @ViewBag.basarili
            </div>
        }

        <div class="row">
            @Html.EditorFor(x => x.Name, "", new { htmlAttributes = new { @class = "formTextbox", @placeholder = "Adınız" } })
            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "validationmesage" })
        </div>
        <div class="row">
            @Html.EditorFor(x => x.Surname, "", new { htmlAttributes = new { @class = "formTextbox", @placeholder = "Soyadınız" } })
            @Html.ValidationMessageFor(x => x.Surname, "", new { @class = "validationmesage" })
        </div>
        <div class="row">
            @Html.EditorFor(x => x.Mail, "", new { htmlAttributes = new { @class = "formTextbox", @placeholder = "Mail Adresiniz" } })
            @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "validationmesage" })
        </div>
        <div class="row">
            @Html.EditorFor(x => x.Password, "", new { htmlAttributes = new { @class = "formTextbox", @placeholder = "Şifreniz" } })
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "validationmesage" })
        </div>

        <div class="row">
            <input type="submit" value="Üye Ol" class="loginButton" />
        </div>
    }
</div>

